<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
      <script src="../static/frontend/helperfunctions.js"></script>
      <script src="../static/frontend/comments.js"></script>
      <script src="../static/frontend/profile.js"></script>
      <script src="../static/frontend/posts.js"></script>
      <script src="../static/frontend/index.js"></script>
      <title>Realgram</title>
      <link rel="icon" href="data:;base64,=" />
   </head>
   <body>
      <div id="head"></div>
      <div id="root"></div>
   </body>
</html>
